.guarantee-container {
  display: flex;
  justify-content: space-between;
}

.guarantee {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 901px) {
  .guarantee-container {
    flex-wrap: nowrap;
  }

  .guarantee {
    flex: 1 1 30%;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .guarantee-container {
    flex-wrap: wrap;
  }

  .guarantee {
    flex: 1 1 100%;
  }
}
